$boxDimentions:300px;

.Project-Box{
	img{
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		border-radius: 20px;
		object-fit: cover;
	}
	h3{
		
	}
	p{
		
	}
	text-align: center;
	padding: 3px;
	width: $boxDimentions;
	height: $boxDimentions;
	margin: 0px;
}