.Project-Page{
	img{
		min-height: 400px;
		max-height: 600px;
		border-radius: 20px;
		object-fit: cover;
	}
	h2{

	}
	p{

	}
	animation-name: startTransition;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: both;

}

@keyframes startTransition{
	to{
		transform: scale(1);
	}
	from{
		transform: scale(0.2);
	}
}